<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to Firenado, where imagination meets innovation in the world of game development. At Firenado, we are passionate about creating immersive, engaging, and unforgettable gaming experiences. Our team of talented developers, designers, and storytellers work tirelessly to bring unique and captivating games to life.</p>
      </div>
      <div class="col-lg-4">
        <p>At Firenado, our vision is to push the boundaries of interactive entertainment. We strive to create games that not only entertain but also inspire and challenge our players. We believe in the power of games to tell compelling stories, foster connections, and spark creativity.</p>
      </div>
    </div>
  </div>
</section>
